---
interface Props {
    variant?: "primary" | "secondary";
    class?: string;
}
const { variant = "primary", class: className = "" } = Astro.props;

const variantClasses = {
    primary: "",
    secondary: "",
};
---

<div class:list={["", className, variantClasses[variant]]}>
    <slot />
</div>